html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.category-btn {
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  font-weight: bold !important;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  color: white;
}


.category-btn:hover {
  color: yellow !important;
 
}


.react-player {
  height: 80vh !important;
  width: 100% !important;
}


@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}